$title-text: "Bilbo Swash Caps", cursive;
$primary-text: "Montserrat", sans-serif;
$info-text: "Roboto Slab", serif;
$primary-color: #FED136;
$text-color: #222222;
$info-color: #777777;
$contact-color: #FFFFFF;
$main-size: 40px;
$text-size: 18px;
$small-size: 14px;

