@import "variables";

.contact {
    background-color: $text-color;
    padding: 92px 230px 115px 230px;
    margin-top: 120px;
}

.contact h2 {
    font-family: $primary-text;
    font-weight: 700;
    font-size: $main-size;
    text-transform: uppercase;
    text-align: center;
    color: $contact-color;
}

.contact-form {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 100px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

input {
    width: 455px;
    height: 50px;
    background-color: $contact-color;
    border: 1px solid #CCCCCC;
    color: #BBBBBB;
    font-family: $primary-text;
    font-weight: 700;
    font-size: $small-size;
    text-transform: uppercase;
    padding-left: 20px;
}

textarea {
    width: 455px;
    height: 195px;
    background-color: $contact-color;
    border: 1px solid #CCCCCC;
    color: #BBBBBB;
    font-family: $primary-text;
    font-weight: 700;
    font-size: $small-size;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 20px;
}

button {
    width: 242px;
    height: 68px;
    background-color: $primary-color;
    font-family: $primary-text;
    font-weight: 700;
    font-size: $text-size;
    text-transform: uppercase;
    color: $contact-color;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}