@import "variables";

.logo {
    display: flex;
    font-family: $title-text;
    color: $primary-color;
    font-weight: normal;
    margin-right: 300px;
    align-self: center;

}

nav {
    align-self: center;

}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;

    font-family: $primary-text;

}

nav a {
    text-decoration: none;
    color: $primary-color;
}

header {
    display: flex;
    margin: 0 auto;
    width: 933px;
    padding: 55px;
    height: 39px;
}